*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.head{
    width: 100%;
    height: 60px;
    max-width: 1400px;
    background-color: #008B8B;
    border: 2px solid#008080;
    display: flex;
    align-items: center;

    
}
.buttonHead{
    display: flex;
    width: 70px;
    height: 30px;
    background-color: #6b8e23;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border: 1px solid #556B2F;
    
    
}
.buttonHead>a{
    text-decoration: none;
    color: #000;
    align-items: center;
}


.logo{
    height: 60px;
    width: 100px;
    
}
.button{
    display: flex;
    margin-left: 70%;
}
.signup{
    display: none;
    position: absolute;
    margin-top: 30px;
    width: 300px;
    height: 450px;
    border: 1px solid #000;
    flex-direction: column;
    background-color: #fff;  
}
#signup, #signin{
    display: flex;
    width: 100%;
    max-width: 1400px;
    justify-content: center;
}
.reg{
    width: 100%;
    height: 60px;
    background-color:#008B8B;
    text-align: center;
    font-size: 20pt;
}
.regist{
    width: 70px;
    height: 30px;
    background-color: #6b8e23;
    border: 1px solid #556B2F;
    text-align: center;
    margin-top: 20px;
}
.formreg{
    margin-top: 70px;
}
.formreg > input{
    width: 160px;
    height: 30px;
}
.signin{
    display: none;
    position: absolute;
    margin-top: 30px;
    width: 300px;
    height: 400px;
    border: 1px solid #000;
    flex-direction: column; 
    background-color: #fff;
}
#body{
    width: 100%;
    max-width: 1400px;
}
.owlleng{
    display: flex;
    justify-content: center;
    font-size: 30pt;
    margin-top: 50px;
}
.body{
    display: flex;
    justify-content: center;
    flex-direction: column;  
}
.repimg{
    border-radius: 10px;
    margin-top: 50px;
}
.ourwork{
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin-top: 50px;
}
.ourwork>div{
    width: 70%;
    height: 120px;
}
.box-1,.box-2,.box-3{
    display: flex;
    border-bottom: 1px solid #C0C0C0;
}
.one{
    display: flex;
    width: 20%;
    height: 100%;
    font-size: 20pt;
    align-items: center;
}
.two{
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 15pt;
    align-items: center;
}
#bottom{
    width: 100%;
    max-width: 1400px;
}
.bottom{
    display: flex;
    width: 100%;
    max-width: 1400px;
    height: 100px;
    background-color:#808080;
    align-items: center;
}
.bottom>p{
   color: #fff;
}
.buttonHead:hover{
    background-color: #808080;
}
.ringform{
    display: grid;
    width: 263px;
    height: 360px;
    margin-bottom: 20px;
}
.zakaz{
    width: 263px;
    background-color: #000;
    height: 50px;
    line-height:50px;
    color: #fff;
    text-align: center;      
}
.zakaz:hover{
    background-color: gray;
}
#catalogforms{
    width: 100%;
    max-width: 1400px;
}
#forms{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
}
.ring{
    width: 263px;
    height: 263px;
    border: 1px solid #000;
}
#pageTovar{
    display: grid;
    width: 100%;
    max-width: 1920px;
    height: 675px;
    background-color: #fff;
    box-shadow: inset 6px 18px 8px rgba(0, 0, 0, .2);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "shopbox shopbox2"
                        "shopbox32 shopbox32";
}

.imgbox{
    border: 2px solid #000;
    width: 254px;
    height: 254px;
    margin-top: 5%;
    margin-left: 10%;
    
}
.imgbox>img{
    width: 250px;
    height: 250px;
}
#name{
    font-size: 17pt;
    margin-top: 67px;
}
.tovarblock{
    margin-top: 30px;
    margin-bottom: 30px;
}
.shopbox{
    
    grid-area: shopbox;
}
.shopbox2{
    grid-area: shopbox2;
}
.shopbox3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid #000;
    width: 100%;
    grid-area: shopbox3;
    grid-template-areas: "s1 s2 s3 s4 s5"
                        "sub sub sub sub sub";
}
.select{
    width: 110px;
}
.submit{
    display: grid;
    grid-area: sub;
    align-items: end;
    justify-content: end;
}
#sel1{
    grid-area: s1;
}
#sel2{
    grid-area: s2;
}
#sel3{
    grid-area: s3;
}
#sel4{
    grid-area: s4;
}
#sel5{
    grid-area: s5;
}
.btnsub{
    display: grid;
    height: 40px;
    width: 100px;
    background-color:#6b8e23;
    align-items: center;
    justify-content: center;
    border: 1px solid #556B2F;
    margin-bottom: 15px;
}
.btnsub:hover{
    background-color: #808080;
}
.admin{
    height: 20px;
    width: 20px;
    background-color: yellow;
}



.block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1700px;
    height: 800px;
}
.admininput{
    width: 200px;
    height: 30px;
}
.showdata{
    display: grid;
    max-width: 1700px;
    height: 800px;
    width: 100%;
}
#column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #DCDCDC;
}
#boxform{
    border: 1px solid #000;
    width: 300px;
    align-self: center;
    justify-self: center;
}
.buttonC{
    width: 70px;
    height: 40px;
    background-color: #000;
    line-height:35px;
    color: #fff;
    text-align: center;     
}
.buttonC:hover{
    background-color:#DCDCDC;
    color:#000;
}
#buttonblock{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr;
}

#sendpass{
    width: 90px;
    height: 30px;
    background-color:#6b8e23;
    text-align: center;
}
#pass{
    width: 210px;
    height: 30px;
}
#passchi{
    display: grid;
    align-self: center;
    justify-self: center;
    grid-area: p1;
    margin-top: 190px;
}
#shopbox32{
    border: 1px solid #000;
    grid-area: shopbox32;
    width: 100%;
}